DATABASE_URI="sqlite:///database.db"
SECRET_KEY="YouShouldChangeThisSecretKeyToSomethingLongAndRandom"
ENV="development"
AI_API_KEY=""
AI_BASE_URL="https://ai-gen.sundaebytestt.com"
AI_MODEL_NAME="meta/llama-3.2-3b-instruct"
AI_TEMPERATURE="0.5"
AI_MAX_TOKENS="700"
AI_REQUEST_TIMEOUT_SECONDS="45"